.drug-table {
    border: 0px solid #86550B;
    border-collapse: collapse;
    display: table;
    width: 100%;

    &_invisible {
        display: none;
    }

    &__row {
        display: table-row;
        color: black;
        background-color: white;
        text-decoration: none;
        // align-content: center;
        // text-align: center;
        // display: flex;
        // justify-content: space-around;
        transition: background ease-in-out 250ms;
        
        // &:nth-child(2n+1) {
        //     background-color: white;
        // }

        // &:nth-child(2n) {
        //     background-color: #f5e3c9;
        // }

        &:hover {
            background-color: #E7AD56;
            cursor: pointer;
        }
    }

    &__row_header {
        background-color: #CE8922;
        display: table-row;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

    &__cell {
        // border: 1px solid #86550B;
        // align-content: center;
        vertical-align: middle;
        display: table-cell;
        padding: 7px;
        // text-align: left;
    }

    &__delete-button {
        border: none;
        padding: 6px 10px;
        text-align: center;
        background-color: red;
    }
}

