.drug-card {
    $card-width: 220px;
    $delete-button-width: 40px;
    $side-space: 10px;

    background-color: #CE8922;
    border: 1px solid #86550B;
    display: flex;
    flex-direction: column;
    flex: 1 1 $card-width;
    justify-content: center;
    margin: 8px;
    transition: all .25s ease-in-out;
    user-select: none;

    &_fresh {
        background-color: #E7AD56;
    }

    &:hover {
        background-color: #E7AD56;
        box-shadow: 0px 0px 2px black;
    }


    &__body {
        color: black;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        text-decoration: none;
    }


    &__delete {
        display: inline-block;
        text-align: center;
        width: $delete-button-width;

        &:hover {
            background-color: red;
            color: white;
        }
    }


    &__description {
        flex: 1 1 auto;
        margin: $side-space $side-space 0px $side-space;
        text-indent: 12px;
        
        &::first-letter {
            text-transform: capitalize;
        }
    }


    &__name {
        overflow: hidden;
        padding: 0px 0px 0px $side-space + 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


    &__header {
        background-color: white;
        cursor: default;
        display: flex;
        flex: 0 1 auto;
        justify-content: space-between;
    }


    &__price {
        flex: 0 1 auto;
        font-size: 26px;
        margin: $side-space;
        text-align: right;
    }
}