.drug-table {
    border-collapse: collapse;
    display: table;
    width: 100%;

    &_invisible {
        display: none;
    }


    &__row {
        background-color: white;
        border-top: 1px solid rgba(black, 0.15);
        color: black;
        display: table-row;
        text-decoration: none;
        transition: background ease-in-out 250ms;


        &:first-child {
            border-top: 0;
        }
    }


    &__row_header {
        background-color: #CE8922;
        display: table-row;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }


    &__cell {
        display: table-cell;
        padding: 7px;
        vertical-align: middle;

        &_align_right {
            text-align: right;
        }


        &_field {
            background-color: #E7BC7D;
            font-weight: 500;
        }
    }


    &__delete-button {
        background-color: red;
        border: none;
        padding: 6px 10px;
        text-align: center;
    }
}

