.drug-table {
    border-collapse: collapse;
    box-shadow: 0 0 2px;
    display: table;
    width: 100%;

    &_invisible {
        display: none;
    }

    &__row {
        background-color: white;
        border-top: 1px solid rgba(black, 0.15);
        color: black;
        cursor: pointer;
        display: table-row;
        text-decoration: none;
        transition: background ease-in-out 250ms;
        user-select: none;

        &:first-child {
            border-top: 0;
        }

        &:hover {
            background-color: #E7AD56;
            cursor: pointer;
        }
    }

    &__row_header {
        background-color: #CE8922;
        display: table-row;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

    &__cell {
        display: table-cell;
        padding: 7px;
        vertical-align: middle;

        &_align_right {
            text-align: right;
        }
    }

    &__delete-button {
        background-color: red;
        border: none;
        padding: 6px 10px;
        text-align: center;
    }
}

