.fav-drugs {
    margin-top: 21px;
    background-color: #E7BC7D;
    box-shadow: 0px 0px 2px;

    &__title {
        font-size: 26px;
        text-align: center;
        padding: 20px;
    }

    &_disabled {
        display: none;
    }
}