.fav-drugs {
    align-items: center;
    background-color: #E7BC7D;
    box-shadow: 0px 0px 2px;
    display: flex;
    flex-direction: column;
    margin-top: 21px;
    padding: 20px;

    &_disabled {
        display: none;
    }

    &__empty-message {
        color: rgba(black, 0.5);
    }

    &__container {
        align-items: stretch;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    &__title {
        font-size: 26px;
        padding-bottom: 20px;
    }
}