.page {
    margin: 130px auto 10px auto;
    max-width: 1024px;
    padding: 0px 20px;


    &__title {
        &__container {
            margin: 15px 0px;
            text-align: center;
        }

        &__text {
            font-size: 40px;
        }
    }

    &__back-link {
        color: #CE8922;
        text-decoration: none;
        display: inline-block;

        &:hover {
            color: #E7AD56;
            text-decoration: underline;
        }
    }
}