.search-panel {
    background-color: white;
    position: relative;
    margin: 0px 0px;

    &__icon {
        margin: 4px 4px 4px 8px;
        flex: 0 1 auto;
    }

    &__search-line {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        box-shadow: 0px 0px 2px;
        width: 100%;
    }

    &__input {
        border: 0px solid #86550B;
        font-size: 16px;
        padding: 7px 8px;
        flex: 1 1 auto;
    }

    &__results {
        position: absolute;
        top: 33px;
        z-index: 1;

        &_invisible {
            display: none;
        }
    }
}