.search-panel {
    background-color: white;
    position: relative;
    margin: 0px 0px;

    &_searching {
        box-shadow: 0px 0px 4px;
    }

    &__icon {
        margin: 4px 4px 4px 8px;
        flex: 0 1 auto;
    }

    &__search-line {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        width: 100%;
        box-shadow: 0px 0px 2px;
    }

    &__input {
        border: 0px solid #86550B;
        font-size: 16px;
        padding: 7px 8px;
        flex: 1 1 auto;
    }

    &__results {
        position: absolute;
        top: 35px;
        box-shadow: 0px 0px 4px;
        display: none;

        &_display {
            display: block;
        }
    }
}