@import "components/drug-table";
@import "components/fav-drugs";
@import "components/search-panel";
@import "components/page";
@import "components/drug-card";
$fa-font-path: "/fonts/font-awesome";
@import "font-awesome/font-awesome";

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #fffef9;
    min-width: 300px;
}